---
version: 2
interactions:
    - id: 0
      request:
        host: api.lab.amplitude.com
        form:
            v:
                - "0"
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Amp-Exp-Library:
                - experiment-go-server/1.9.0
        url: https://api.lab.amplitude.com/sdk/v2/flags?v=0
        method: GET
      response:
        body: '[{"key":"test-feature-flag","metadata":{"deployed":true,"evaluationMode":"local","flagType":"release","flagVersion":11},"segments":[{"conditions":[[{"op":"is","selector":["context","user","user_id"],"values":["expect-enabled"]}],[{"op":"is","selector":["context","user","device_id"],"values":["expect-enabled"]}]],"metadata":{"segmentName":"individual-inclusions"},"variant":"enabled"},{"conditions":[[{"op":"is","selector":["context","user","user_id"],"values":["expect-disabled"]}],[{"op":"is","selector":["context","user","device_id"],"values":["expect-disabled"]}]],"metadata":{"segmentName":"individual-inclusions"},"variant":"disabled"},{"conditions":[[{"op":"is","selector":["context","user","user_id"],"values":["expect-int"]}],[{"op":"is","selector":["context","user","device_id"],"values":["expect-int"]}]],"metadata":{"segmentName":"individual-inclusions"},"variant":"42"},{"conditions":[[{"op":"is","selector":["context","user","user_id"],"values":["expect-float"]}],[{"op":"is","selector":["context","user","device_id"],"values":["expect-float"]}]],"metadata":{"segmentName":"individual-inclusions"},"variant":"payload"},{"conditions":[[{"op":"is","selector":["context","user","user_id"],"values":["expect-string"]}],[{"op":"is","selector":["context","user","device_id"],"values":["expect-string"]}]],"metadata":{"segmentName":"individual-inclusions"},"variant":"string"},{"conditions":[[{"op":"is","selector":["context","user","user_id"],"values":["expect-object"]}],[{"op":"is","selector":["context","user","device_id"],"values":["expect-object"]}]],"metadata":{"segmentName":"individual-inclusions"},"variant":"object"},{"metadata":{"segmentName":"All Other Users"},"variant":"enabled"}],"variants":{"42":{"key":"42","payload":42,"value":"42"},"disabled":{"key":"disabled","payload":false,"value":"disabled"},"enabled":{"key":"enabled","payload":true,"value":"enabled"},"object":{"key":"object","payload":{"a":"A","b":"B"},"value":"object"},"off":{"key":"off","metadata":{"default":true}},"payload":{"key":"payload","payload":12.34,"value":"payload"},"string":{"key":"string","payload":"foo","value":"string"}}}]'
        headers:
            Cache-Tag:
                - server-VR3Ikw4b5qAOfQ5eXxvyBAFLC8PIaUOO
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 37.672667ms
