---
version: 2
interactions:
    - id: 0
      request:
        host: api.lab.amplitude.com
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Amp-Exp-User:
                - eyJ1c2VyX2lkIjoiZXhwZWN0LWVuYWJsZWQiLCJsaWJyYXJ5IjoiZXhwZXJpbWVudC1nby1zZXJ2ZXIvMS45LjAifQ==
        url: https://api.lab.amplitude.com/sdk/v2/vardata
        method: GET
      response:
        body: '{"test-feature-flag":{"key":"enabled","metadata":{"evaluationId":"1429732933887_1766865619666_6244"},"payload":true,"value":"enabled"}}'
        headers:
            Cache-Tag:
                - server-VR3Ikw4b5qAOfQ5eXxvyBAFLC8PIaUOO
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 255.818875ms
[...]
