---
version: 2
interactions:
    - id: 0
      request:
        host: api.lab.amplitude.com
        form:
            v:
                - "0"
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Amp-Exp-Library:
                - experiment-go-server/1.9.0
        url: https://api.lab.amplitude.com/sdk/v2/flags?v=0
        method: GET
      response:
        body: '[{"key":"test-feature-flag","metadata":{"deployed":true,"evaluationMode":"local","flagType":"release","flagVersion":84},"segments":[{"conditions":[[{"op":"is","selector":["context","user","user_id"],"values":["expect-enabled"]}]],"metadata":{"segmentName":"expect-enabled"},"variant":"enabled"},{"conditions":[[{"op":"is","selector":["context","user","user_id"],"values":["expect-int"]}]],"metadata":{"segmentName":"expect-int"},"variant":"int"},{"conditions":[[{"op":"is","selector":["context","user","user_id"],"values":["expect-float"]}]],"metadata":{"segmentName":"expect-float"},"variant":"float"},{"conditions":[[{"op":"is","selector":["context","user","user_id"],"values":["expect-string"]}]],"metadata":{"segmentName":"expect-string"},"variant":"string"},{"conditions":[[{"op":"is","selector":["context","user","user_id"],"values":["expect-object"]}]],"metadata":{"segmentName":"expect-object"},"variant":"object"},{"metadata":{"segmentName":"All Other Users"},"variant":"off"}],"variants":{"enabled":{"key":"enabled","payload":true,"value":"enabled"},"float":{"key":"float","payload":12.34,"value":"float"},"int":{"key":"int","payload":42,"value":"int"},"object":{"key":"object","payload":{"a":"A","b":"B"},"value":"object"},"off":{"key":"off","metadata":{"default":true}},"string":{"key":"string","payload":"foo","value":"string"}}}]'
        headers:
            Cache-Tag:
                - server-VR3Ikw4b5qAOfQ5eXxvyBAFLC8PIaUOO
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 247.186709ms
    - id: 1
      request:
        host: api2.amplitude.com
        body: '{"api_key":"b14268da4131dce8702a4f9802952b9b","events":[{"event_type":"$exposure","user_id":"expect-enabled","time":1767019641796,"insert_id":"c45eb72c-ef7f-41ce-8a17-cfaa5e53caac","library":"amplitude-go/1.2.0","event_properties":{"flag_key":"test-feature-flag","metadata":{"deployed":true,"evaluationMode":"local","flagType":"release","flagVersion":84,"segmentName":"expect-enabled"},"variant":"enabled"}}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api2.amplitude.com/2/httpapi
        method: POST
      response:
        body: '{"code":200,"server_upload_time":1767019642045,"payload_size_bytes":409,"events_ingested":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 247.522542ms
