---
version: 2
interactions:
    - id: 0
      request:
        host: api.lab.amplitude.com
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Amp-Exp-User:
                - eyJ1c2VyX2lkIjoiZXhwZWN0LWVuYWJsZWQiLCJsaWJyYXJ5IjoiZXhwZXJpbWVudC1nby1zZXJ2ZXIvMS45LjAifQ==
        url: https://api.lab.amplitude.com/sdk/v2/vardata
        method: GET
      response:
        body: '{"test-feature-flag":{"key":"enabled","metadata":{"evaluationId":"1429732933887_1767019737513_4476"},"payload":true,"value":"enabled"}}'
        headers:
            Cache-Tag:
                - server-VR3Ikw4b5qAOfQ5eXxvyBAFLC8PIaUOO
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 365.017708ms
    - id: 1
      request:
        host: api2.amplitude.com
        body: '{"api_key":"b14268da4131dce8702a4f9802952b9b","events":[{"event_type":"$exposure","user_id":"expect-enabled","time":1767019737520,"insert_id":"7e2a67ba-1bd9-4fd3-9ea7-4b95a1e885c8","library":"amplitude-go/1.2.0","event_properties":{"flag_key":"test-feature-flag","metadata":{"evaluationId":"1429732933887_1767019737513_4476"},"variant":"enabled"}}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api2.amplitude.com/2/httpapi
        method: POST
      response:
        body: '{"code":200,"server_upload_time":1767019737775,"payload_size_bytes":349,"events_ingested":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.142709ms
[...]
